Wardrobe2/Resources/Items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Wardrobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:unsignedInt" minOccurs="1" />
                    <xs:element name="Slot" type="xs:string" minOccurs="1" />
                    <xs:element name="Name" type="xs:string" minOccurs="1" />
                    <xs:element name="Brand" type="xs:string" />
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="Created" type="xs:dateTime" minOccurs="1" />
                    <xs:element name="Purchased" type="xs:dateTime" />
                    <xs:element name="Notes" type="xs:string" />
                    <xs:element name="Material" type="xs:string" />
                    <xs:element name="Pattern" type="xs:string" />
                    <xs:element name="Size" type="xs:string" />
                    <xs:element name="SleeveLength" type="xs:string" />
                    <xs:element name="Price" type="xs:decimal" />
                    <xs:element name="Colors">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Color">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="hex" type="xs:unsignedInt" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Ratings">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Formality">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Wear">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Fit">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Warmth">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Outfits">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Outfit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:unsignedByte" minOccurs="1" />
                    <xs:element name="Name" type="xs:string" minOccurs="1" />
                    <xs:element name="Created" type="xs:unsignedInt" minOccurs="1" />
                    <xs:element name="Notes" type="xs:string" />
                    <xs:element name="Slots">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Slot">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="item" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>